body {
  background-color:rgb(244, 248, 253);
  padding: 3em;
}

.homepage {
  padding-top: 100px;
  background-image: url('images/homebg.jpeg');
  background-size: cover;
}

.daypage {
  background-image: url('images/daybg.jpeg');
  background-size: cover;
}

.nightpage {
  background-image: url('images/nightbg.jpeg');
  background-size: cover;
}

.header {
  text-align: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10em;
  margin: 2em auto;
}

video {
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
}

img {
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

.wiggle {
  animation: wiggle 2s infinite;
}

a {
  text-decoration: none; 
}

a:hover{
  transform: scale(1.1);
}

h1 {
  color: whitesmoke;
  font-family: 'fredoka', sans-serif;
  font-weight: 700;
  font-size: 5em;
  text-align: center;
}

h3 {
  color: black;
  font-family:'fredoka', sans-serif;
  font-weight: 500;
  text-align: center;
}

.nightpage p {
  color: whitesmoke;
}

.nightpage h3 {
  color: whitesmoke;
}

p {
  color: black;
  font-family: "Syne", sans-serif;
  font-size: 1.1em;
}

@keyframes wiggle {
  0%  { transform: translateY(0px)}
  50% { transform: translateY(10px)}
  100%{ transform: translateY(0px)}
}